TEST=false
HTTPS=false
NODE_ENV=development
PORT=3001
BASE_URL=http://localhost:3001

# For running from source
MONGODB_URI=mongodb://localhost:27017/rsongassets
# For docker usage:
#MONGODB_URI=mongodb://mongo:27017/rsongassets

GMAIL_CLIENT_ID=626951416720-utvuk4021t3qei0o2u71bh3er4mgpn4e.apps.googleusercontent.com
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Google Cloud Storage
GCS_BUCKET_NAME=rsongassetmanagamentdev
GCS_PROJECT_ID=rsong-dev

JWT_SECRET=
JWT_DURATION_HOURS=12

SENDGRID_API_KEY=

SMS_NOTIFICATIONS_SILENT=true
EMAIL_NOTIFICATIONS_SILENT=true
KYC_NOTIFY_EMAIL_FROM_NAME="DEV Rsong Assets Managament Email Sender"
KYC_NOTIFY_EMAIL_FROM_EMAIL="NO_REPLY@localhost.com"
KYC_NOTIFY_EMAIL_RECIPIENTS="dragan.mijatovic@cramick-it.com,ned.robinson@rchain.coop"

DOCKER_MONGO_DATA_DIR=~/mongo-data

DROPBOX_ACCESS_TOKEN=
DROPBOX_UPLOAD_PATH=/DEV_TEST/RSONG_IN

TWILLIO_ACCOUNT_SID=
TWILLIO_AUTH_TOKEN=
TWILLIO_PHONE_NUMBER=+18482604005

SENTRY_DSN=

ACQUISITION_API_ENDPOINT_BASE_URL="http://35.237.90.48:9000"
