TEST=false
HTTPS=false
NODE_ENV=development
PORT=3001
BASE_URL=http://localhost:3001
MONGODB_URI=
GMAIL_CLIENT_ID=
JWT_SECRET=jwt_secret_placeholder_change_me_please
JWT_DURATION_HOURS=24
COOKIE_SECRET=NestoTajno00
COOKIE_NAME=RsongAssetManagament
COOKIE_DOMAIN=rsong.localhost.com
SENDINBLUE_API_KEY=

EMAIL_NOTIFICATIONS_SILENT=true
KYC_NOTIFY_EMAIL_FROM_NAME="DEV Rsong Assets Managament Email Sender"
KYC_NOTIFY_EMAIL_FROM_EMAIL=NO_REPLY@localhost.com
KYC_NOTIFY_EMAIL_RECIPIENTS=